<header class="navbar navbar-light navbar-fixed-top navbar-expand-md navbar-dark bg-dark p-0">

  <div class="container">

    <a class="navbar-brand" routerLink="/" (click)="navbarCollapsed = true"><span class="d-md-none ml-3"></span>{{env.app.name}}</a>


    <button class="navbar-toggler navbar-toggler-right py-3 border-0" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item p-2 cursor-pointer" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="navbarCollapsed=true">
          <span class="nav-link">HOME</span>
        </li>
        <li class="nav-item p-2 cursor-pointer" routerLink="/contact" routerLinkActive="active" (click)="navbarCollapsed=true">
          <span class="nav-link">CONTACT</span>
        </li>
      </ul>

    </div>

  </div>

</header>

<div class="container">
  <div class="row">
    <div class="col-12 py-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>