/* You can add global styles to this file, and also import other style files */

:focus { outline:  0 !important; }
*:focus { outline:  0 !important; }
.cursor-pointer { cursor: pointer; }
.height100 { height: 100vh; }


// .custom-bg-primary { background: #0d47a1 }
// .custom-bg-secondary { background: #9933CC }
// .custom-bg-success { background: #007E33 }
// .custom-bg-info { background: #0099CC }
// .custom-bg-warning { background: #ff8800 }
// .custom-bg-danger { background: #cc0000 }

// .custom-text-primary { background: #0d47a1 }
// .custom-text-secondary { background: #9933CC }
// .custom-text-success { background: #007E33 }
// .custom-text-info { background: #0099CC }
// .custom-text-warning { background: #ff8800 }
// .custom-text-danger { background: #cc0000 }
